// Variable overrides
//
// If you want to customize your project please add your variables below.

$enable-deprecation-messages: false !default;

$theme-colors: (
  "dark": #343a40,
  // Add other color variables as
    $primary-color: #007bff,
    $secondary-color: #6c757d
);
